html{
    overflow-x: hidden;
}

:root {
    --main-color: rgb(255,107,129);
    --main-bg: rgb(8,24,40);
    --main-black: black;
    --main-text: rgb(141,142,142);
    --main-white: white;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}
p{
    color: var(--main-text);
}
h4{
    color: var(--main-color);
}
.textcolors{
    color: var(--main-color);
}
.texts{
    color: var(--main-white);
}
.headertop{
    background-color: var(--main-white);
}

.bnav{
    font-size: 16px;
    color: var(--main-black);
}
.bnav:hover{
    color: var(--main-color);
}

.logo{
    height: 80px;
    width: 80px;
}

/* navbar */
.headertop {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.navbar-collapse {
    background-color:var(--main-white);
    padding: 20px;
    border-radius: 10px;
    border-color: #000;
    border-style: solid;
}

.navbar {
background: none;
transition: background 0.3s;
}

.navbar-nav .nav-link {
color: #000;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
color: #007bff;
}
.firstbut{
    list-style: none;
}

/* button */
.btn1{
    color: var(--main-white);
    background-color: var(--main-color);
    border-radius: 6px;
    width: 138px; 
    height: 38px; 
    border-width: 0px; 
    position: relative; 
    margin-left: 110px;
}

.btn1:hover{
    background-color: var(--main-black);
}
.btn2{
    color: var(--main-black);
    background-color: var(--main-white);
    border-radius: 6px;
    border-width: 2px; 
    padding: 16px;
    margin-top: 10px; 
}
.btn2:hover{
    background-color:var(--main-black);
    color: var(--main-white);
}
.btn3{
    color: var(--main-white);
    background-color: var(--main-color);
    border-radius: 6px;
    border-width: 2px; 
    padding: 16px;
    margin-top: 10px; 
}
.btn3:hover{
    background-color:var(--main-black);
    color: var(--main-color);
}
/* banner */
.bgbanner{
    background-color: var(--main-color);
    z-index: -99;
    width: 100%;
}

/* features */
.section-title{
    padding-top: 75px;
}
.smallTitle{
    color: var(--main-color);
}
.icon-wrapper{
    background-color: var(--main-color);
    color: var(--main-white);
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px black;
}
.icons{
    position: absolute;
    top: 17px;
    left: 17px;
}
.icons2{
    position: absolute;
    top: 17px;
    left: 17px;
}
.bggrey{
    background-color: rgb(249,249,249);
}
.card {
    margin: 0;
    padding: 0;
}
/* overview */
.bgov{
    background-color: var(--main-color);
    padding-bottom:80px ;
    color: var(--main-white);
}
.p3{
    color: var(--main-color);
}
.p2{
    color: var(--main-white);
}
.card-rounded{
    border-radius: 20%;
}
.iconcolor{
    color: var(--main-text);
    font-size:  18px;
}
.iconcolor:hover{
    color: var(--main-color);
}
.cardh:hover{
    color: var(--main-color);
}
/* contact */
.btncontact{
    color: var(--main-white);
    background-color: var(--main-color);
}
.btncontact:hover{
    color: var(--main-color);
    background-color: var(--main-black);
}
.bgcontact-image {
    background-image: url('https://as1.ftcdn.net/v2/jpg/00/10/05/64/1000_F_10056459_BuHHVd3shz5jlhYCAmcyqaDEy6xjclBe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

/* footer */
.footcolor{
    background-color:var(--main-color);
}
.linktoother a{
    text-decoration: none;
    color: #000;
}
.linktoother a:hover{
    color: var(--main-white);
}
.social-links{
   font-size: 20px;
}

@media only screen and (max-width: 767px) {
    .navbar {
        padding: 15px 0;
    }
    .bgbanner {
        padding-top: 80px;
    }
    .card {
        max-width: 100%;
    }
    #overview {
        padding: 80px 0;
    }
    #contact {
        padding: 80px 0;
    }
    .footer {
        padding: 50px 0;
    }
}